* {
  box-sizing : border-box;
}

body {
  font-family : arial;
  background : $white;
}

header {
  background : $col1;
}

header,#fiche-monster {
  padding : $main-pdg;
}

h1 {
  margin-top : 0;
  color : $white;
}

abbr, abbr[title] {
  text-decoration : none;

  &:after {
    content : "?";
    display : inline-block;
    margin-left : 2px;
    font-size : .6rem;
    color : lightgrey;
  }
}

